@font-face {
  font-family : 'nanum';
  src : url(media/NanumGothicBold.otf)
}

@font-face {
	font-family: 'nanum_contents';
	src : url(media/NanumSquareB.otf)
}

header div#Title {

	text-align: center;
	
	font-size: 30px;
	font-weight: bold;
	font-family: 'nanum';

	width: 100%;
	padding: 10px;

	margin-top: 10px;
	margin-bottom: 10px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;  
}

h1 {
  margin: 2em 0 1.5em 0;
}

nav {
  width: 95%;
  display: flex;
  justify-content: center;
  position: relative;
  background: linear-gradient(90deg, deepskyblue, royalblue, limegreen, palegreen);
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#TopMenu li {
  float: left;
  position: relative;
}

#TopMenu li a {
  font-size: 10dp;
  font-family: 'nanum';
  color: rgba(255,255,255,0.85);
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
  display: block;
  padding: 15px 35px;
  border-right: 1px solid rgba(0,0,0,0.15);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

#TopMenu li:nth-child(1) a {
  border-left: 1px solid rgba(0,0,0,0.15);
}

#BottomMenu {
  position: absolute;
  background: #182952;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in;
  z-index: 99;
}

#BottomMenu li {
  padding: 16px 28px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}

#BottomMenu li  a {
  color: rgba(255,255,255,0.6);
  display: block;
  text-decoration: none;
  text-align: center;
  border-right: 1px solid rgba(0,0,0,0.15);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

#TopMenu li:hover #BottomMenu {
  opacity: 1;
  visibility: visible;
}

#BottomMenu li a:hover {
 text-decoration: underline;
}

header {
	position: relative;
}

section {
	display: inline-block;
	width: 80%;
 	background: aliceblue;
	padding: 2em 12em;
}

footer {
	width: 100%;
	height: 100px;
}

/*스크롤 따라 떠다니는 메뉴탭*/
 .skydiv {
 	position: fixed; top: 75%; left: 90%;
 	border: 2px solid black; padding: 15px;
 	background: beige;
 	z-index: 999;
 }


 .skydiv ul li{
 	list-style: none;
 	border-bottom: 2px solid rgba(0,0,0,0.15);
 	font-size: 12px;
 	font-family: 'nanum';
 	margin-bottom: 5px;
 }


#FloatText li a {
	display: inline-block;
	text-decoration: none;
 	text-decoration-line: none;
 	color: darkslategray;
}

#FloatText li a:hover {
	color: lightgray;	
}

#imgslide{
	width: 500px;
	height: 500px;
	position: relative;
	margin: 0 auto;
	overflow: hidden; /*현재  슬라이드 오른쪽 사진 안보임*/
}

#imgslide input[type=radio]{
	display: none;
}
/*슬라이드에 해당하는 배경색 지정과 슬라이드 변경 애니메이션*/
#imgslide input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
    background-color: aliceblue;
}
#imgslide input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
    background-color: aliceblue;
}
#imgslide input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
    background-color: aliceblue;
}
#imgslide input[type=radio]:nth-child(4):checked~.bullets>label:nth-child(4){
    background-color: aliceblue;
}

#imgslide input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
#imgslide input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
#imgslide input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
#imgslide input[type=radio]:nth-child(4):checked~ul.imgs>li:nth-child(4){
    left: 0;
    transition: 0.5s;
    z-index:1;
}

ul.imgs{
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.imgs li{
	position: absolute;
	left: 500px;
	transition-delay: 1s;
	padding: 0;
	margin: 0;
}
ul.imgs img{
	max-width: 100%;
	height: auto;
	display: block;
}

.bullet{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 20px;
	z-index: 2;
}

.bullet label{
	display: inline-block;
	border-radius: 50%;
	background: white;
	border: solid 2px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

#Title_contents {
	border-top: solid 2px;
	padding-top: 10px;
	display: inline-block;
	width: auto;
	font-size: 25px;
	font-family: 'nanum';
}

@keyframes rainbow {     
 0% { color: indianred; }
 15% { color: orange; }
 30% { color: yellow; }
 45% { color: yellowgreen; }
 60% { color: green; }
 75% { color: lightblue; }
 90% { color: royalblue; } 
 100% { color: purple; }
}

#iot_title{
	border-top: solid 2px;
	border-bottom: solid 2px;
}

legend#iot_uses {		
	text-align: center; 
	font-size: 35px; 
	font-family:'nanum';
	animation-duration: 5s;
	animation-name: rainbow;
	animation-iteration-count: infinite;
}

#outer_div {
	width:100%; 
	padding: 20px; 
	display: flex;
	justify-content: center;
	align-content: center;"
}

#inner_div {
	border: solid 1px;
	margin: 15px;
	width: 400px;
	height: 350px;
}

#inner_title {
	display: flex;
	justify-content: center; 
	margin-top: 10px; 
	font-weight: bold; 
	font-size:25px;
}

#contents_div {
	 width: 80%; 
	 height: 80%; 
	 margin-top: 10px; 
	 margin-left: 35px;
	 margin-right: 35px;
	 font-family: 'nanum_contents';
}

#clock {
	float: right;
	font-family: 'nanum_contents';
	font-size: 20px;
}

#nanum-font {
	font-family: 'nanum_contents';
	letter-spacing: 0.03em;
	word-spacing: 0.03em;
}

#closebtn {
		font-size: 15px;
	  border: solid 1px royalblue;
	  background: aliceblue;
	  color: royalblue;
	  padding: 6px;
}
